@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.inner{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
    margin-left: 40px;
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover{
    color: #7901d4;
}

.navActive{
    color: #7100c7;
}

nav a i{
    font-size: 20px;
}


.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 600px;
    width: 100%;
}
.main-img img{
    width: 500px;
}


.main-txt h1{
    font-size: 48px;
    margin-bottom: 30px;
}

.btns{
    display: flex;
    align-items: center;
}


.mainBtn{
    padding: 17px 25px;
    background-color: #8F00FF;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: -1px 9px 17px 1px rgba(143,0,255,0.23);
-webkit-box-shadow: -1px 9px 17px 1px rgba(143,0,255,0.23);
-moz-box-shadow: -1px 9px 17px 1px rgba(143,0,255,0.23);
margin-right: 20px;
transition: 0.4s;
    
}

.mainBtn i{
    margin-left: 20px;
    font-size: 30px;
    vertical-align: middle;
}

.mainBtn:hover{
    background-color: #7901d4;
}









.kk{
    padding: 17px 25px;
color: black;
opacity: 0.7;
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;

    
}

.kk i{
    margin-left: 10px;
    font-size: 40px;
    vertical-align: middle;
}


.dots{
    position: absolute;
    top: -20px;
    left: 40%;
    z-index: -1;
    width: 200px;



}


.sprite{
    width: 100px;
    height: 100px;
    background: currentColor;
    border-radius: 50%;
}

#burger{
    display: none;
    cursor: pointer;
    font-size: 30px;
}
@media (max-width: 1010px){
  #burger{
      display: flex;
  }
  
    nav{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid silver;
        padding-left: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        z-index: 1;
        padding-top: 30px;
       height: 0;
       overflow: hidden;
       opacity: 0;
       transition: all 0.3s;
    }
    .show{
        height: 460px;
        opacity: 1;
    }
    nav a{
        margin-left: 0;
        margin-bottom: 30px;
    }

    .main-img img{
        width: 400px;
    }

    .main{
        height: 500px;
    }

    .main-txt h1{
        font-size: 35px;
    }
    .btns a{
        font-size: 16px;

    }

    .btns a i{
        margin-left: 10px;
    }

    .mainBtn{
        margin-right: 10px;
    }
}


@media (max-width: 902px){
.main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    padding-top: 70px;
    padding-bottom: 30px;
}

.main-img{
    margin-top: 50px;
    width: 100%;
    align-self: center;
    display: flex;
    align-self: center;
    justify-content: center;
}

.main-img img{
    align-self: center;
}

.main-txt h1{
    font-size: 40px;
    margin-bottom: 40px;
}
}


@media (max-width: 472px){
.main-txt a{
    font-size: 13px;
    padding: 15px 20px;
}

.main-txt a i {
    font-size: 25px;
}

}



@media (max-width: 392px){
    .main-txt a{
        font-size: 13px;
        padding: 15px 15px;
    }
    
    .main-txt a i {
        font-size: 25px;
    }
    
    }

    
@media (max-width: 500px){
 .main-img img{
     width: 100%;
 }
    }